* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
/***************** Page-Content ******************/
.page-actions-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.page-action {
    min-width: 3.5rem;
    padding-left: 1rem;
    color: #f1f2f6;
    display: flex;
    justify-content: center;
}
/***************** Cell Property Container*****************/
.cell-prop-actions-cont {
    height: 3rem;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.cell-prop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}

.cell-prop-actions-cont > select {
    padding: 0.2rem;
    outline: none;
    border-radius: 3px;
    border: none;
}

/******************* Formula Container ****************/
.formula-actions-container {
    height: 3rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
.formula-actions-container > *{
    margin-right: 0.8rem;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 1.6rem;
}
.address_bar {
    width: 6rem;
}
.formula-icon {
    height: 1.7rem;
}
.formula_bar {
    width: calc(100vw - 6rem - 0.24rem - 0.5rem);
}

/******************* Grid Container ****************/
.grid-cont {
    height: calc(100vh - 3rem - 3rem - 3rem - 2rem);
    background-color: white;
}
/*********************** Sheet Container ***************/
.sheet-actions-cont {
    height: 2rem;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.sheet-icon{
    margin-right: 0.7rem;
    display: flex;
    align-items: center;
    width: 2vw;
    height:95% ;
    padding: 0.5rem;
}
.sheet-container {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* text-decoration: underline; */
    font-size:large ;
}
.sheets {
    height: 100%;
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.1rem;
    /* border: 1px solid black; */
    background: white;
    border-radius: 3px;
}
